a:hover {
  color: #383D46;
  background-color: cornsilk;
}

body {
  color: #383D46;
  background-color: white;
  font-family: 'Barlow', sans-serif;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  margin: 5rem;
  width: 90vw;
}

section, aside {
  margin: 1rem;
  border-radius: 12px;
  box-shadow: 0 2px 15px 0 rgba(72, 127, 136);
  padding-left: 3rem;
  padding-right: 3rem;
}

footer {
  padding-left: 5%;
  padding-right: 10%;
  background-color: white;
  color: black;
  font-size: 1.6rem;
}

footer .left{
  text-align: left;
}

footer .right {
  text-align: right;
}


li img {
  border-radius: 0.6em;
  margin: 0.5rem;
  width: 15em;
  object-fit: cover;
  display: block;
  -webkit-box-shadow: 10px 9px 22px -8px rgba(209,209,209,1);
  -moz-box-shadow: 10px 9px 22px -8px rgba(209,209,209,1);
  box-shadow: 10px 9px 22px -8px rgba(209,209,209,1);
}

ol li , ul li{
  font-size: 1.2em;
  padding-bottom: 0.8rem;
}

header img {
  width: 100%;
  max-height: 16vw;
  margin-left: auto;
  margin-right: auto;
  object-fit: cover;
}

h2:hover, h3:hover {
  opacity: 0.5;
}

h2, h3 {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  color: #383D46;
  background-color: white;
}

a {
  background-color: white;
  color: #3399ff;
}
