a:hover {
  background-color: cornsilk;
}

body {
  margin-left: 20px;
  margin-right: 20px;
  color: #484848;
}

footer {
  text-align: center;
}

header {
  text-align: center;
  display: block;
}

header img {
  max-height: 10em;
  margin-left: auto;
  margin-right: auto;
}

h2:hover, h3:hover {
  opacity: 0.5;
}

h3 {
  color: #767676;
}

.panel {
  background-color: white;
}
